html,body,page{
    width:100%;
    height:100%;
    margin:0;
}
page{
    font-size:150px;
    position: absolute;
    padding-top: 200px;
    padding-left: 700px;
}
#l{
    animation:three 15s infinite;
    display:block;
    font-size: 50px;
}
#r{
    animation:four 15s infinite;
    display:block;
    font-size: 50px;
}
#t{
    animation:five 15s infinite;
    display:block;
    font-size: 50px;
}
#y{
    animation:six 15s infinite;
    display:block;
    font-size: 50px;
}
@keyframes three{
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity:0}
    60%{opacity:100}
    65%{opacity:100}
    80%{opacity:0}
    100%{opacity:0}
}
@keyframes four {
    0% {
        opacity: 0
    }
    20% {
        opacity: 100
    }
    25% {
        opacity: 100
    }
    40% {
        opacity: 0
    }
    60% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes five {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity:100}
    45%{opacity:100}
    60%{opacity:0}
    65%{opacity:0}
    80%{opacity:0}
    100%{opacity:0}

}
@keyframes six {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity:100}
    60%{opacity:0}
    80%{opacity:100}
    90%{opacity:100}
    100%{opacity:0}

}


#c{
    background: url("chun.jpg");
    animation:ct 15s infinite;/*引用ct动画 持续为8秒，无限次循环*/
}
#x{
    background: url("xia.jpg");
    animation:xt 15s infinite;
}
#q{
    background: url("qiu.jpg");
    animation:qt 15s infinite;
}
#d{
    background: url("dong.jpg");
    animation:dt 15s infinite;
}
@keyframes ct {/*设置一个名字为ct的动画*/
    0%{opacity: 0}
    20%{opacity: 100}/*到达百分之二十透明度为100*/
    40%{opacity: 0}
    60%{opacity:0}
    100%{opacity: 0}
}
@keyframes xt {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity:100}/*到达百分之四十透明度为100*/
    60%{opacity:0}
    100%{opacity: 0}
}
@keyframes qt {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity: 0}
    60%{opacity:100}/*到达百分之六十透明度为100*/
    100%{opacity: 0}
}
@keyframes dt {
    0%{opacity: 0}
    20%{opacity:0}
    40%{opacity: 0}
    60%{opacity: 0}
    80%{opacity:100}/*到达百分之八十透明度为100*/
    100%{opacity: 0}
}
